:root {
    --text-color: hsl(243, 74%, 7%);
    --text-color-name: hsl(0, 0%, 0%);
    --letter-spacing: .9px;
    --bg-header-color: hsl(29, 41%, 92%);
    --bg-resource-color: hsl(37, 79%, 75%);
    --bg-linear-gradient-one: hsl(37, 79%, 75%);
    --bg-linear-gradient-two: hsl(43, 82%, 94%);
    --headers-text: hsl(219, 18%, 27%);
    --border-radius: 5px;
    --filter: invert(0%);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    color: var(--headers-text);
}

h3 {
    margin-top: 30px;
    color: var(--headers-text);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p > span {
    background-color: var(--bg-resource-color);
}

.text-color {
    color: var(--text-color);
}

.aligned {
    text-align: center;
}

.line-height {
    line-height: 1.4;
}

.font-size {
    font-size: 0.9rem;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
    background-color: hsl(30, 51%, 98%);
    transition-property: background-color;
    transition-duration: 700ms;
}

body.dark {
    background-color: hsl(243, 74%, 10%);
    --text-color: hsl(0, 0%, 100%);
    --bg-header-color: hsl(243, 100%, 68%);
    --bg-resource-color: hsl(203, 39%, 34%);
    --bg-linear-gradient-one: hsl(243, 100%, 64%);
    --bg-linear-gradient-two: hsl(203, 39%, 34%);
    --headers-text: hsl(0, 0%, 100%);
    --text-color-name: hsl(0, 0%, 100%);
    transition-property: background-color;
    transition-duration: 700ms;
    --filter: invert(100%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 52px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    background-color: var(--bg-header-color);
    transition-property: background-color;
    transition-duration: 700ms;
    box-shadow: 0 4px 5px hsl(0, 0%, 0%);
    z-index: 5;
}

/* Estilos para el menu */

.header__menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
}

.hamburger-menu {
    width: 32px;
    height: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 5px;
}

.top {
    position: relative;
    top: 5px;
    transform: rotate(45deg);
    transition-property: top, transform;
    transition-duration: 900ms;
}

.middle {
    position: absolute;
    opacity: 0;
}

.botton {
    position: relative;
    top: -3px;
    transform: rotate(-45deg);
    transition-property: top, transform;
    transition-duration: 900ms;
}

/* Estilos para la musica */

/* .header__music-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 54px;
}

.musical-lyrics {
    width: 20px;
    height: 20px;
}

.musical-lyrics-active {
    width: 18.5px;
    height: 18.5px;
    transition-property: width, height;
    transition-duration: 100ms;
}

.musical-lyrics-dark {
    filter: invert(100%);
}

.on-off {
    color: var(--text-color);
    text-transform: capitalize;
} */

/* Estilos para el modo */

.header__mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    height: 16px;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    border: solid .5px hsla(243, 74%, 7%, .5);
}

.switch-dark {
    background-color: hsl(243, 74%, 7%);
}

.input-radio {
    appearance: none;
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 50%;
}

.sun {
    left: -2px;
    background-image: url(../assets/images/sol-redimensionada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.moon {
    left: 14px;
    background-image: url(../assets/images/luna-2-redimensionada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Estilos para el nav */

.nav {
    position: absolute;
    left: 0;
    top: 52px;
    width: 180px;
    height: 100vh;
    background-color: var(--bg-header-color);
    transition-property: left, background-color;
    transition-duration: 500ms;
    z-index: 10;
}

.nav-hidden {
    left: -185px;
    transition-property: left;
    transition-duration: 300ms;
    transition-delay: 400ms;
}

.body-overlay {
    position: absolute;
    top: 52px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: hsla(243, 74%, 7%, .8);
    transition-property: left;
    transition-duration: 400ms;
    z-index: 5;
}

.body-overlay-show {
    left: 0;
    transition-property: left;
    transition-duration: 1000ms;
    transition-delay: 100ms;
}

.nav-list {
    position: relative;
    margin: 0;
    padding: 12px 30px 10px 18px;
    border-bottom: solid 1px black;
}

.nav-list > li {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-links {
    font-weight: 500;
}

.nav-title {
    margin-top: 25px;
    padding-left: 18px;
    font-weight: 500;
}

.graduation-degree {
    width: max-content;
}

.nav-contact {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 13px;
    padding-right: 13px;
}

.nav-contact-logo {
    width: 20px;
    opacity: 0;
}

.nav-contact-logo-show {
    opacity: 1;
}

/* Estilos para "section-hero" */

.section-hero {
    position: relative;
    height: 96vh;
    padding: 50px 18px 0;
    /* background-image: url(../assets/images/background-mobile-light-1.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; */
}

.logo-container {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0px;
    left: 14px;
    padding: 9px 5px 3px;
    background-color: hsl(0, 0%, 100%);
    border-left: solid 1px hsl(0, 0%, 0%);
    border-bottom: solid 1px hsl(0, 0%, 0%);
    border-right: solid 1px hsl(0, 0%, 0%);
}

.logo-container-hidden {
    animation-name: logo-hidden;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(0.55, 0.40, 0.25, 0.10);
    animation-fill-mode: forwards;
}

@keyframes logo-hidden {
    from {
        transform: translateY(3px);
    }
    to {
        transform: translateY(-45px);
    }
}

.hero {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
}


.hero__name-preposition {
    display: block;
}

.hero__name {
    color: var(--text-color-name);
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 25px;
    width: 25px;
    height: 40px;
}

.arrow-down-one,
.arrow-down-two {
    fill: var(--text-color);
}

.arrow-down-one > g {
    animation-name: arrow-one;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
}

.arrow-down-two > g {
    animation-name: arrow-two;
    animation-duration: 600ms;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
}

@keyframes arrow-one {
    0% {
        opacity: .2;
    }
    25% {
        opacity: .4;
    }
    50% {
        opacity: .6;
    }
    75% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes arrow-two {
    0% {
        opacity: .2;
    }
    25% {
        opacity: .4;
    }
    50% {
        opacity: .6;
    }
    75% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

/* Estilos para la section "about-me" */

.section-about-me {
    padding-left: 18px;
    padding-right: 18px;
}

.avatar-container {
    width: 140px;
    height: 140px;
    margin-left: 12px;
    margin-bottom: 6px;
    border-radius: 50%;
    float: right;
}

.avatar {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}

/* Estilos para la section "projects" */

.section-projects {
    padding-left: 18px;
    padding-right: 18px;
}

img {
    display: block;
    max-width: 100%;
}

.container-presentation-image {
    border-radius: var(--border-radius);
    outline: solid 1px hsl(160, 11%, 52%);
}

.container-presentation-image > img {
    border-radius: var(--border-radius);
}

.project-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72%;
    margin: 20px auto;
    border-radius: var(--border-radius);
}

.project-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 108px;
    height: 46px;
    padding: 8px;
    border-radius: var(--border-radius);
    box-shadow: 0px 1px 5px hsl(243, 74%, 7%);
    border: solid 1px white;
}

.project-links-icon-play {
    width: 34px;
    filter: var(--filter)
}

.project-links-icon-github {
    width: 24px;
    padding-bottom: 5px;
    filter: var(--filter)
}

/* Estilos para la section "knowledge" */

.section-knowledge__images-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-knowledge__images-subcontainer {
    position: relative;
    width: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
    overflow: hidden;
}

.knowledge-image {
    width: 85px;
}

.coming-soon {
    transform: translateX(-85px);
}

.coming-soon-showing {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1500ms;
}

.overlay-coming-soon-showing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 85px;
    background-color: hsla(23, 39%, 44%, .4);
}

.overlay-coming-soon-hidden {
    display: none;
}

.overlay-coming-soon-showing > p {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    background-color: bisque;
}


/* Estilos para el footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 13px;
    font-size: .7rem;
    background-color: var(--bg-header-color);
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-container::before {
    content: "";
    position: absolute;
    left: 55%;
    width: 1px;
    height: 110px;
    background-color: black;
}

.footer__right-container-nav {
    margin-bottom: 15px;
}

.footer__name {
    margin-top: 0;
    font-weight: normal;
}

.footer__list-socials {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 45px auto 5px 0;
    padding-left: 0;
}

.ways-of-contact {
    width: 20px;
}

@media (hover: hover) {

    .nav-links:hover,
    .input-radio:hover,
    .project-links:hover,
    .ways-of-contact:hover,
    .nav-contact-logo:hover {
        cursor: pointer;
    }

    .logo-container:hover {
        cursor: pointer;
        background-color: hsl(0, 3%, 95%);
        border: none;
    }

    .nav-links:hover,
    .footer__right-container-nav:hover {
        text-decoration-line: underline;
    }
}

@media screen and (min-width: 768px) {

    .section-hero {
        height: 91vh;
    }

    .container-presentation-image {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .project-links-container {
        width: 45%;
    }
}

@media screen and (min-width: 1024px) {

    h2 {
        margin-top: 50px;
        font-size: 1.9rem;
    }

    .header {
        height: 70px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .header__menu-container {
        display: none;
    }

    .nav-hidden {
        position: initial;
        top: initial;
        width: 50%;
        height: initial;
        background-color: inherit;
        z-index: initial;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        border: none;
    }

    .nav-list > li {
        margin: 0;
    }

    .nav-links {
        font-size: 1rem;
    }

    .nav-title {
        display: none;
    }

    .nav-contact {
        display: none;
    }

    .section-hero {
        height: 91vh;
        padding-left: 25px;
        padding-right: 25px;
    }

    .logo-container {
        left: calc(100% - 70px);
    }

    .hero {
        font-size: 2.1rem;
        margin-top: 50px;
    }

    .hero__only-name {
        left: -220px;
    }

    .arrow-container {
        display: none;
    }

    .section-projects {
        padding-left: 50px;
        padding-right: 50px;
    }

    .project-names {
        font-size: 1.5rem;
    }

    .project-links-container {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .line-height {
        line-height: 1.6;
    }

    .footer {
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer__list {
        width: 25%;
    }

    .footer__name,
    .footer__location,
    .right-container {
        font-size: 1.1rem;
    }

    .right-container::before {
        height: 120px;
    }

    .ways-of-contact {
        width: 30px;
    }
}

@media screen and (min-width: 1366px) {

    .header,
    .footer {
        padding-left: 80px;
        padding-right: 80px;
    }

    .nav-links {
        font-size: 1.2rem;
    }

    .logo-container {
        left: calc(100% - 125px);
    }

    .hero {
        font-size: 2.3rem;
        padding-left: 60px;
    }

    .hero__only-name {
        left: -310px;
    }

    .arrow-container {
        display: none;
    }

    section > p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-presentation-image {
        width: 50%;
    }

    .project-links-container {
        width: 35%;
    }

    .right-container::before {
        left: 50%;
    }
}