:root {
    --text-color: hsl(243, 74%, 7%);
    --letter-spacing: .9px;
    --bg-header-color: hsl(29, 41%, 80%);
    --bg-resource-color: hsl(37, 79%, 75%);   
}

* {
    box-sizing: border-box;
}

section {
    margin-bottom: 70px;
}

h3 {
    margin-top: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p > span {
    background-color: var(--bg-resource-color);
}

.text-color {
    color: var(--text-color);
}

.aligned {
    text-align: center;
}

.line-height {
    line-height: 1.4;
}

body {
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
    background-color: hsl(30, 51%, 92%);
    transition-property: background-color;
    transition-duration: 700ms;
}

body.dark {
    background-color: hsl(243, 74%, 7%);
    --text-color : hsl(0, 0%, 100%);
    --bg-header-color: hsl(243, 100%, 64%);
    --bg-resource-color: hsl(203, 39%, 44%);
    transition-property: background-color;
    transition-duration: 700ms;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
    background-color: var(--bg-header-color);
    transition-property: background-color;
    transition-duration: 700ms;
    box-shadow: 0px 4px 10px hsl(243, 74%, 7%);
}

/* Estilos para el menu */

.header__menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
}

.hamburger-menu {
    width: 32px;
    height: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 5px;
}

.top {
    position: relative;
    top: 5px;
    transform: rotate(45deg);
    transition-property: top, transform;
    transition-duration: 900ms;
}

.middle {
    position: absolute;
    transform: translateX(-46px);
    transition-property: left, transform;
    transition-duration: 300ms;
}

.botton {
    position: relative;
    top: -4px;
    transform: rotate(-45deg);
    transition-property: top, transform;
    transition-duration: 900ms;
}

/* Estilos para la musica */

.header__music-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 54px;
}

.musical-lyrics {
    width: 20px;
    height: 20px;
}

.musical-lyrics-active {
    width: 18.5px;
    height: 18.5px;
    transition-property: width, height;
    transition-duration: 100ms;
}

.musical-lyrics-dark {
    filter: invert(100%);
}

.on-off {
    color: var(--text-color);
    text-transform: capitalize;
}

/* Estilos para el modo */

.header__mode-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 36px;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    height: 16px;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    border: solid .5px hsla(243, 74%, 7%, .5);
}

.switch-dark {
    background-color: hsl(243, 74%, 7%);
}

.input-radio {
    appearance: none;
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 50%;
}

.sun {
    left: -2px;
    /* background-color: hsl(52, 100%, 51%); */
    background-image: url(../assets/images/sol-redimensionada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.moon {
    left: 17px;
    background-image: url(../assets/images/luna-2-redimensionada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Estilos para el nav */

.nav {
    position: absolute;
    left: 0;
    top: 52px;
    width: 180px;
    height: 100vh;
    background-color: var(--bg-header-color);
    transition-property: left, background-color;
    transition-duration: 700ms;
    z-index: 10;
}

.nav-hidden {
    left: -185px;
    transition-property: left;
    transition-duration: 300ms;
    transition-delay: 400ms;
}

.body-overlay {
    position: absolute;
    top: 52px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: hsla(243, 74%, 7%, .8);
    transition-property: left;
    transition-duration: 400ms;
    z-index: 5;
}

.body-overlay-show {
    left: 0;
    transition-property: left;
    transition-duration: 1300ms;
}

.nav-list {
    position: relative;
    margin: 0;
    padding: 15px 50px;
}

.nav-list > li {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para el main */

.main {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 70px;
}

/* Estilos para "section-hero" */

.section-hero {
    height: 80vh;
}

.hero {
    width: 280px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.9;
    color: var(--text-color);
}

.hero__name-hidden {
    position: relative;
    left: -175px;
}

.hero__name {
    position: relative;
    left: 0;
    transition-property: left;
    transition-timing-function: ease-out;
    transition-duration: 1600ms;
}

/* Estilos para la section "projects" */

img {
    max-width: 100%;
}

.container-presentation-image {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.project-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 15px auto;
}

.project-links {
    padding: 10px;
    background-color: #ffcdb2;
}
