:root {
    --headers-text: hsl(340, 100%, 36%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 60px 15px ;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: hsl(38, 50%, 80%);
}

.info {
    font-size: 1.4rem;
    color: var(--headers-text);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.info > span {
    color: black;
}

@media screen and (min-width: 1024px) {
    body {
        padding: 80px 110px;
    }

    .info {
        text-align: center;
    }
}