:root {
    --text-color: hsl(243, 74%, 7%);
    --letter-spacing: .9px;
    --bg-header-color: hsl(0, 0%, 92%);  
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
    transition-property: background-color;
    transition-duration: 700ms;
}

body.dark {
    background-color: hsl(243, 74%, 7%);
    --text-color : hsl(0, 0%, 100%);
    --bg-header-color: hsl(243, 100%, 64%);
    transition-property: background-color;
    transition-duration: 700ms;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
    background-color: var(--bg-header-color);
    transition-property: background-color;
    transition-duration: 700ms;
}

/* Estilos para el menu */

.header__menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
}

.hamburger-menu {
    width: 32px;
    height: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 5px;
}

.top {
    position: relative;
    top: 5px;
    transform: rotate(45deg);
    transition-property: top, transform;
    transition-duration: 900ms;
}

.middle {
    position: absolute;
    transform: translateX(-46px);
    transition-property: left, transform;
    transition-duration: 300ms;
}

.botton {
    position: relative;
    top: -4px;
    transform: rotate(-45deg);
    transition-property: top, transform;
    transition-duration: 900ms;
}

/* Estilos para la musica */

.header__music-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 54px;
}

.musical-lyrics {
    width: 20px;
    height: 20px;
}

.musical-lyrics-active {
    width: 18.5px;
    height: 18.5px;
    transition-property: width, height;
    transition-duration: 100ms;
}

.musical-lyrics-dark {
    filter: invert(100%);
}

.on-off {
    color: var(--text-color);
    text-transform: capitalize;
}

/* Estilos para el modo */

.header__mode-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 36px;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    height: 16px;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    border: solid .5px hsla(243, 74%, 7%, .5);
}

.switch-dark {
    background-color: hsl(243, 74%, 7%);
}

.input-radio {
    appearance: none;
    width: 21px;
    height: 21px;
    position: absolute;
    border-radius: 50%;
}

.sun {
    left: -2px;
    background-color: hsl(52, 100%, 51%);
}

.moon {
    left: 17px;
    background-color: hsl(243, 74%, 7%);
}

/* Estilos para el nav */

.nav {
    position: absolute;
    left: 0;
    top: 52px;
    width: 180px;
    height: 100vh;
    background-color: var(--bg-header-color);
    transition-property: left, background-color;
    transition-duration: 700ms;
    z-index: 10;
}

.nav-hidden {
    left: -185px;
    transition-property: left;
    transition-duration: 300ms;
    transition-delay: 400ms;
}

.body-overlay {
    position: absolute;
    top: 52px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: hsla(243, 74%, 7%, .8);
    transition-property: left;
    transition-duration: 400ms;
    z-index: 5;
}

.body-overlay-show {
    left: 0;
    transition-property: left;
    transition-duration: 1400ms;
}

.list {
    position: relative;
    margin: 0;
    padding: 15px 50px;
    list-style: none;
}

.list > li {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para el main */

.main {
    padding-left: 13px;
    padding-right: 13px;
}

.hero {
    width: 280px;
    margin-top: 70px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-color);
}