:root {
    --text-color: hsl(243, 74%, 7%);
    --letter-spacing: .9px;
    --bg-header-color: hsl(29, 41%, 80%);
    --bg-resource-color: hsl(37, 79%, 75%);
    --bg-linear-gradient-one: hsl(37, 79%, 75%);
    --bg-linear-gradient-two: hsl(43, 82%, 94%); 
}

* {
    box-sizing: border-box;
}

section {
    margin-bottom: 70px;
}

h3 {
    margin-top: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p > span {
    background-color: var(--bg-resource-color);
}

.text-color {
    color: var(--text-color);
}

.aligned {
    text-align: center;
}

.line-height {
    line-height: 1.4;
}

body {
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
    background-color: hsl(30, 51%, 94%);
    transition-property: background-color;
    transition-duration: 700ms;
}

body.dark {
    background-color: hsl(243, 74%, 7%);
    --text-color : hsl(0, 0%, 100%);
    --bg-header-color: hsl(243, 100%, 64%);
    --bg-resource-color: hsl(203, 39%, 34%);
    --bg-linear-gradient-one: hsl(243, 100%, 64%);
    --bg-linear-gradient-two: hsl(203, 39%, 34%);
    transition-property: background-color;
    transition-duration: 700ms;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
    background-color: var(--bg-header-color);
    transition-property: background-color;
    transition-duration: 700ms;
    box-shadow: 0px 4px 10px hsl(243, 74%, 7%);
}

/* Estilos para el menu */

.header__menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
}

.hamburger-menu {
    width: 32px;
    height: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 5px;
}

.top {
    position: relative;
    top: 5px;
    transform: rotate(45deg);
    transition-property: top, transform;
    transition-duration: 900ms;
}

.middle {
    position: absolute;
    transform: translateX(-46px);
    transition-property: left, transform;
    transition-duration: 300ms;
}

.botton {
    position: relative;
    top: -4px;
    transform: rotate(-45deg);
    transition-property: top, transform;
    transition-duration: 900ms;
}

/* Estilos para la musica */

/* .header__music-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 54px;
}

.musical-lyrics {
    width: 20px;
    height: 20px;
}

.musical-lyrics-active {
    width: 18.5px;
    height: 18.5px;
    transition-property: width, height;
    transition-duration: 100ms;
}

.musical-lyrics-dark {
    filter: invert(100%);
}

.on-off {
    color: var(--text-color);
    text-transform: capitalize;
} */

/* Estilos para el modo */

.header__mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    height: 16px;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    border: solid .5px hsla(243, 74%, 7%, .5);
}

.switch-dark {
    background-color: hsl(243, 74%, 7%);
}

.input-radio {
    appearance: none;
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 50%;
}

.sun {
    left: -2px;
    /* background-color: hsl(52, 100%, 51%); */
    background-image: url(../assets/images/sol-redimensionada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.moon {
    left: 15px;
    background-image: url(../assets/images/luna-2-redimensionada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Estilos para el nav */

.nav {
    position: absolute;
    left: 0;
    top: 52px;
    width: 180px;
    height: 100vh;
    background-color: var(--bg-header-color);
    transition-property: left, background-color;
    transition-duration: 500ms;
    z-index: 10;
}

.nav-hidden {
    left: -185px;
    transition-property: left;
    transition-duration: 300ms;
    transition-delay: 400ms;
}

.body-overlay {
    position: absolute;
    top: 52px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: hsla(243, 74%, 7%, .8);
    transition-property: left;
    transition-duration: 400ms;
    z-index: 5;
}

.body-overlay-show {
    left: 0;
    transition-property: left;
    transition-duration: 1000ms;
    transition-delay: 100ms;
}

.nav-list {
    position: relative;
    margin: 0;
    padding: 15px 40px;
}

.nav-list > li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-contact {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 250px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 13px;
    padding-right: 13px;
}

.nav-contact-logo {
    width: 20px;
    opacity: 0;
}

.nav-contact-logo-show {
    opacity: 1;
}

/* Estilos para el main */

.main {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 70px;
}

/* Estilos para "section-hero" */

.section-hero {
    position: relative;
    height: 80vh;
}

.hero {
    width: 280px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.9;
    color: var(--text-color);
}

.hero__name-hidden {
    position: relative;
    left: -175px;
}

.hero__name {
    position: relative;
    left: 0;
    transition-property: left;
    transition-timing-function: ease-out;
    transition-duration: 1300ms;
}
.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 25px;
    height: 40px;
}

.arrow-down-one,
.arrow-down-two {
    fill: var(--text-color);
}

.arrow-down-one > g {
    animation-name: arrow-one;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
}

.arrow-down-two > g {
    animation-name: arrow-two;
    animation-duration: 600ms;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
}

@keyframes arrow-one {
    0% {
        opacity: .2;
    }
    25% {
        opacity: .4;
    }
    50% {
        opacity: .6;
    }
    75% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes arrow-two {
    0% {
        opacity: .2;
    }
    25% {
        opacity: .4;
    }
    50% {
        opacity: .6;
    }
    75% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

/* Estilos para la section "projects" */

img {
    max-width: 100%;
}

.project-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 15px auto;
}

.project-links {
    padding: 10px;
    background: linear-gradient(0.37turn, var(--bg-linear-gradient-one), var(--bg-linear-gradient-two), var(--bg-linear-gradient-one));
    box-shadow: 0px 0px 8px hsl(243, 74%, 7%);
}

/* Estilos para la section "knowledge" */

.section-knowledge__images-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-knowledge__images-subcontainer {
    position: relative;
    width: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
    overflow: hidden;
}

.knowledge-image {
    width: 85px;
}

.coming-soon {
    transform: translateX(-85px);
}

.coming-soon-showing {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1500ms;
}

.overlay-coming-soon-showing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 85px;
    background-color: hsla(23, 39%, 44%, .4);
}

.overlay-coming-soon-hidden {
    display: none;
}

.overlay-coming-soon-showing > p {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    background-color: bisque;
}


/* Estilos para el footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 13px;
    font-size: .7rem;
    background: linear-gradient(0.25turn, #ede0d4, #e6ccb2, #e6ccb2, #ede0d4);
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.right-container::before {
    content: "";
    position: absolute;
    left: 55%;
    width: 1px;
    height: 96px;
    background-color: black;
}

.right-container > a {
    margin-bottom: 15px;
}

.footer__name {
    margin-top: 0;
    font-weight: normal;
}

.footer__list-socials {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 45px auto 5px 0;
    padding-left: 0;
}

.ways-of-contact {
    width: 20px;
}

@media (hover: hover) {

    .header__menu-container:hover,
    .nav-links:hover,
    .input-radio:hover,
    .project-links:hover,
    .ways-of-contact:hover,
    .nav-contact-logo:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px) {

    .header {
        height: 70px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .header__menu-container {
        display: none;
    }

    .nav-hidden {
        position: initial;
        top: initial;
        width: 50%;
        height: initial;
        background-color: inherit;
        z-index: initial;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    .nav-list > li {
        margin: 0;
    }

    .nav-links {
        font-size: 1rem;
    }

    .nav-contact {
        display: none;
    }

    /* Estilos para el main */

    .main {
        padding-left: 25px;
        padding-right: 25px;
    }

    h2 {
        font-size: 1.9rem;
    }

    .section-projects {
        padding-left: 50px;
        padding-right: 50px;
    }

    .project-names {
        font-size: 1.5rem;
    }

    .project-links-container {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .line-height {
        line-height: 1.6;
    }

    .footer {
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer__list {
        width: 25%;
    }

    .footer__name,
    .footer__location,
    .right-container {
        font-size: 1.1rem;
    }

    .right-container::before {
        height: 120px;
    }

    .ways-of-contact {
        width: 30px;
    }
}

@media screen and (min-width: 1366px) {

    .hero__name-hidden {
        left: -190px;
    }

    .section-about-me,
    .section-projects {
        padding-left: 70px;
        padding-right: 70px;
    }

    .right-container::before {
        left: 50%;
    }
}